<!DOCTYPE html>
<html>
  <head>
    <title>RgalleryMain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'partials/jumbotron' %>

		<section>
			<div class="container">
				
				<!-- Alerts and Messages -->
				<% if flash[:notice] %>
					<div class="alert alert-success"><%= flash[:notice] %></div>
				<% end %>
				<% if flash[:alert] %>
					<div class="alert alert-danger"><%= flash[:alert] %></div>
				<% end %>
				
		    <%= yield %>		
			</div>
		</section>

		<footer>
			<p class="text-center">Copyright &copy; 2016 RGallery. All Rights Reserved</p>
			<p class="text-center">
				<a href="#">About</a> | <a href="#">Contact</a>
			</p>
		</footer>    
  </body>
</html>
